@import "./typography.css";

* {
    font-family: 'gotham', sans-serif;
}

header {
    height: 10vh;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3498bd;
}

header image {
    height: 8ch;
    width: auto;

}

nav {
    margin: 0;
    height: 100%;
}

main {
    min-height: 85vh;
    font-size: 24px;

}

main image {
    height: 8vh;
    width: auto;
}

footer {
    height: 5vh;
    background-color: #86bd24;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

.menu {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: contents;
    background-color: #00000000;
    align-items: center;
    height: 100%;
    font-size: 24px;

}

.menu li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;

}

.menu li:hover {
    background-color: #86bd24;
    cursor: pointer;
}

.menu li a {
    text-decoration: none;
    color: #000000;
}

.menu li:hover a {
    color: #ffffff;
}

.presentation {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    color: #000000;
    padding: 10px 5% 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carte {
    background-image: url('../images/carte_brest.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 60vh;
    padding: 10px 50% 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498bd;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    transition-duration: background-color 0.5;
}

.btn:hover {
    color: #FFF;
    background-color: #86bd24;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}

.titre_formation {
    height: 15vh;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.bloc_1 {
    height: 900px;
    width: 50%;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    border: #000000 solid 10px;

}

.bloc_2 {
    height: 900px;
    width: 50%;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    border: #000000 solid 10px;
}

.bloc_1_et_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

}

.les_temoignages {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.card {
    height: 900px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    border: #000000 solid 6px;
    justify-content: center;
    align-items: center;
}

.image_reference {
    width: calc(25);
    column-count: 3;
    column-gap: 10px;
}